
*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
}

html{
    /* scroll-snap-type: both mandatory; */
    /* padding-top: 30px; */
    /* margin: 0; */
}

p{
    font-size: larger;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

h2{
    color: white;
}



body {
    display: grid;
    /* this 10 rem will remind me of that grid property */
    /* grid-template-rows: 3.625rem auto; */
    grid-template-rows: 5rem auto;
    grid-template-areas: "nav" "main";
    /* overflow: scroll; */
    font-family: "Poppins", sans-serif;
    background: black;
}

/* header{
    grid-area: gay;
} */

.main-nav{
    grid-area: nav;
}


main{
    grid-area: main;
}

/* .div_1{
background-color:aqua;
}
.div_2{
    background-color: red;
}.div_3{
    background-color: rebeccapurple;
}.div_4{
    background-color:green;
}.div_5{
    background-color: pink;
} */

/* div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .main_in_diff_setting_tryout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: main;
} */



/* nav{
    top: 0;
    left: 0;
    height: 30px;
    text-align: center ;
    position: fixed;
    background-color: darkviolet;
    width: 100%;
} */

/* nav{
    overflow: scroll;
} */

.main-nav_actual-container{
    background-color: red;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* opacity: 0.1; */
    border-bottom: 2px solid rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* .main-nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 */

 .main-nav_gdsc{
    font-size: x-large;
}

.main-nav_container{
    display: flex;
}

.main-nav_item{
    padding: 0 2rem 0;
}

.main-div_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-div_input{
    display: flex;
    margin: 2rem;
}

.common-div {
    padding:8.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.common-div input{
    padding: 1rem;
    border: none;
    border-radius: 8px;
    margin: 5px;
}

.main-div_1{
background-color:rgb(38, 104, 104);
width: 33vw;
}
.main-div_2{
    background-color: rgb(255, 123, 0);
    width: 33vw;
}
.main-div_3{
    background-color: rebeccapurple;
    padding: 12rem;
}

